<%- include('./template/cabecalho'); %> 

<main class="container-fluid">

    <section  id="create">
        
    <label for="inputNome" class=" col-sm-1 col-form-label fontLabel">Nome</label>
      <div class="col-sm-8">
       <input type="text" class="form-control formInput" id="inputNome">
         </div>
          </div>
    
           <div class="row mb-3">
           <label for="inputCpfCnpj" class="col-sm-1 col-form-label fontLabel">CPF</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control formInput" id="inputCpfCnpj">
                </div>
              </div>
    
        <div class="row mb-3">
     <label for="inputEndereco" class="col-sm-1 col-form-label fontLabel">Endereço</label>
         <div class="col-sm-8">
          <input type="text" class="form-control formInput" id="inputEndereco">
                </div>
              </div>
    
              <div class="row mb-3">
                <label for="inputCidade" class="col-sm-1 col-form-label fontLabel">Cidade</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control formInput" id="inputCidade">
                </div>
              </div>
            </div>
        </form>
    </section>





<%- include('./template/rodape'); %> 

