body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.imageFundo {
   background-image: url(../images/Fundo.jpg);
   padding: 100px;
   background-repeat: no-repeat;
   background-size: cover ;
   background-position: center;
   display: inline-block;

 }