<footer class="w-100 bg-light mt-5 d-flex align-items-center justify-content-around">
    <div class="icons">
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
    <div>
      Portal de Agendamento &copy; todos os direitos reservados
    </div>
    <div>
      Desenvolvido por Patrick/Jorge/Nathalia
    </div>
  </footer>
</body>
</html>